/*Fonts*/
@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
    src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
    src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

body {
    background-color: #e9e9e9;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

/*Navigation bar*/
.navbar {
    height: 72px;
    background-color: #3B3486;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.logo {
    margin-bottom: 10px;
    margin-right: 20px;
}

.headcontainer {
    width: 100%;
    gap: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start {
    display: flex;
    align-items: center;
}

.start .logo img {
    width: 48px;
    margin: 0;
}

.start ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    position: relative;
}

.start ul li {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
}

.navbar .start li a {
    color: white;
    text-align: center;
}

.navbar .start li a:hover {
    color: rgb(186, 186, 186);
}

.active:active {
    background-color: #fff;
    font-weight: 600;
}

.active>a {
    color: #1500ff;

}

.navbar .start ul li a:active {
    color: #3B3486;
    background: url('assets/icons/bg.svg');
}

.end {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 14px;
    color: #F8F4FF;
}

.end img {
    width: 29px;
}

.user-menu {
    gap: 14px;
}

.user-menu span {
    display: block;
}

.end #name {
    color: #F8F4FF;
    font-size: 14px;
    font-weight: 600
}

.end span {
    font-weight: 300;
    font-size: 12px;
    text-align: right;
}

.avatar {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    background-color: #ffffff10;
}

.avatar span {
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

/*Container one*/
.container-one {
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px auto;
}

/*Sidebar*/
.sidebar {
    display: block;
    height: 1180px;
}

form {
    margin-top: 20px;
}

/*Categories*/
.categories {
    width: 320px;
    height: 780px;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
}

.categories h1 {
    text-align: left;
    color: #181C32;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-top: 5px;
}

.items {
    line-height: 35px;
    position: relative;
    top: -10px;
    margin-bottom: 10px;

}

.f-item input {
    margin-right: 5px;
    accent-color: #1500ff;
}

.f-item label {
    color: #181C32;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.f-item {
    display: flex;
    justify-content: space-between;
}

.f-item p {
    font-size: 13px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #848484;
    line-height: 35px;
}

/*Price range*/
.range {
    align-items: center;
}

.range span {
    color: #848484;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-align: left;
}

.price_range #one {
    accent-color: #3B3486;
    width: 130px;
    height: 4px;
    border: none;
    transform: rotate(180deg);
    border-radius: 30px;
}

.price_range #two {
    accent-color: #3B3486;
    width: 135px;
    transform: translateX(-10px);
    height: 4px;
    border: none;
    border-radius: 30px;
}

.sizes h1 {
    text-align: left;
    color: #181C32;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.size button {
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.size p {
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #181C32;
    background-color: #ececec;
    width: 36px;
    height: 36px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: -20px;
}

.size p:hover {
    color: #7743DB;
}

.colors {
    display: flex;
    gap: 12px;
}

.colors :nth-child(n) {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1.5px solid white;
}

.colors #one {
    background-color: #F64E60;
}

.colors #one:active {
    box-shadow: 0px 0px 0px 1px #F64E60;
}

.colors #two {
    background-color: #3699FF;
}

.colors #two:active {
    box-shadow: 0px 0px 0px 1px #3699FF;
}

.colors #three {
    background-color: #1BC5BD;
}

.colors #three:active {
    box-shadow: 0px 0px 0px 1px #1BC5BD;
}

.colors #four {
    background-color: #8950FC;
}

.colors #four:active {
    box-shadow: 0px 0px 0px 1px #8950FC;
}

.colors #five {
    background-color: #1B283F;
}

.colors #five:active {
    box-shadow: 0px 0px 0px 1px #1B283F;
}

.colors #six {
    background-color: #D6D6E0;
}

.colors #six:active {
    box-shadow: 0px 0px 0px 1px #D6D6E0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 40px;
    margin-top: 20px;
}

.button #reset {
    width: 95px;
    height: 42px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #7743DB;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.button #more {
    width: 95px;
    height: 42px;
    border-radius: 6px;
    border: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #B5B5C3;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 5px;
}

/*Sidebar 2*/
.sidebar2 {
    width: 320px;
    height: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    margin-top: 45px;
}

.sidebar2 h1 {
    font-size: 17px;
    font-weight: 600;
    color: #181C32;
    margin-top: 10px;
}

.sidebar2 h2 {
    font-size: 14px;
    font-weight: 600;
    color: #181C32;
}

.sidebar2 p {
    color: #B5B5C3;
    font-size: 12px;
    font-weight: 400;
}

.dot {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    top: -15px;
    right: 10px;
    gap: 3px;
}

.dot :nth-child(n) {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #B5B5C3;
}

.first {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 15px;
}

.first img {
    width: 80px;
    height: 60px;
    border-radius: 6px;
}

.first #text {
    margin-left: 15px;
    font-weight: 400;
}

.first #text p {
    font-weight: 400;
}

.brand h2 {
    font-weight: 600;
    font-size: 14px;
    color: #181C32;
}

.second {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}

.second button {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7743DB;
    font-size: 12px;
    font-weight: 600;
    background-color: #F8F4FF;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
}

.second #name {
    font-size: 14px;
    font-weight: 600;
    color: #B5B5C3;
}

.second p {
    font-size: 14px;
    font-weight: 600;
    color: #181C32;
}

/*Main*/
.main {
    width: 940px;
    height: 1180px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
}

/*grid-one*/
.grid-one {
    display: grid;
    gap: 20px;
    position: relative;
    right: -10px;
}

.elem {
    background-color: #F3F6F9;
    border-radius: 12px;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
}

.a {
    width: 580px;
    height: 170px;
    background-color: #D7F9EF;
}

.grid-one h1 {
    font-size: 24px;
    font-weight: 600;
    color: #181C32;
}

.grid-one img {
    width: 365px;
    height: 365px;
    position: relative;
    top: -90px;
}

#img {
    height: 170px;
    position: relative;
    top: -65px;
    right: -108px;
    overflow: hidden;
}

.a h2 {
    font-size: 18px;
    font-weight: 400;
    color: #0BB783;
}

.grid-one #nike,
#desc {
    position: relative;
    top: 50px;
    left: -70px;
}

.b {
    width: 280px;
    height: 360px;
    background-color: #F8F4FF;
    position: relative;
    top: -190px;
    left: 600px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.b img {
    width: 236px;
    height: 236px;
    position: relative;
    top: 3px;
}

.b h2 {
    font-size: 18px;
    font-weight: 400;
    color: #7743DB;
    position: relative;
    top: -15px;
}

.c {
    width: 580px;
    height: 170px;
    background-color: #FFE2E5;
    position: relative;
    top: -380px;
}

.c h2 {
    font-size: 18px;
    font-weight: 400;
    color: #F64E60;
}

/*grid-two*/
.grid-two {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: repeat(2, 360px);
    gap: 20px;
    justify-content: center;
    position: relative;
    top: -360px;
    text-align: left;
}

.d img {
    width: 198px;
    height: 198px;
}

.e img {
    width: 250px;
    height: 224px;
}

.f img {
    width: 198px;
    height: 198px;
}

.g img {
    width: 239px;
    height: 239px;
}

.h img {
    width: 205px;
    height: 205px;
}

.i img {
    width: 233px;
    height: 156px;
}

/*Fonts*/
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
    src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
    src: url(assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #e9e9e9;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

/*Navigation bar*/
.navbar {
    height: 72px;
    background-color: #3B3486;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.logo {
    margin-bottom: 10px;
    margin-right: 20px;
}

.headcontainer {
    width: 100%;
    gap: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start {
    display: flex;
    align-items: center;
}

.start .logo img {
    width: 48px;
    margin: 0;
}

.start ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    position: relative;
}

.start ul li {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
}

.navbar .start li a {
    color: white;
    text-align: center;
}

.navbar .start li a:hover {
    color: rgb(186, 186, 186);
}

.active:active {
    background-color: #fff;
    font-weight: 600;
}

.active>a {
    color: #1500ff;

}

.navbar .start ul li a:active {
    color: #3B3486;
    background: url('assets/icons/bg.svg');
}

.end {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 14px;
    color: #F8F4FF;
}

.end img {
    width: 29px;
}

.user-menu {
    gap: 14px;
}

.user-menu span {
    display: block;
}

.end #name {
    color: #F8F4FF;
    font-size: 14px;
    font-weight: 600
}

.end span {
    font-weight: 300;
    font-size: 12px;
    text-align: right;
}

.avatar {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    background-color: #ffffff10;
}

.avatar span {
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

/*Container one*/
.container-one {
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px auto;
}

/*Sidebar*/
.sidebar {
    display: block;
    height: 1180px;
}

form {
    margin-top: 20px;
}

/*Categories*/
.categories {
    width: 320px;
    height: 780px;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
}

.categories h1 {
    text-align: left;
    color: #181C32;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-top: 5px;
}

.items {
    line-height: 35px;
    position: relative;
    top: -10px;
    margin-bottom: 10px;
}

.f-item input {
    margin-right: 5px;
    accent-color: #1500ff;
}

.f-item label {
    color: #181C32;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.f-item {
    display: flex;
    justify-content: space-between;
}

.f-item p {
    font-size: 13px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #848484;
    line-height: 35px;
}

/*Price range*/
.range {
    align-items: center;
}

.range span {
    color: #848484;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-align: left;
}

.price_range #one {
    accent-color: #3B3486;
    width: 130px;
    height: 4px;
    border: none;
    transform: rotate(180deg);
    border-radius: 30px;
}

.price_range #two {
    accent-color: #3B3486;
    width: 135px;
    transform: translateX(-10px);
    height: 4px;
    border: none;
    border-radius: 30px;
}

.sizes h1 {
    text-align: left;
    color: #181C32;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.size button {
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.size p {
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #181C32;
    background-color: #ececec;
    width: 36px;
    height: 36px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: -20px;
}

.size p:hover {
    color: #7743DB;
}

.colors {
    display: flex;
    gap: 12px;
}

.colors :nth-child(n) {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1.5px solid white;
}

.colors #one {
    background-color: #F64E60;
}

.colors #one:active {
    box-shadow: 0px 0px 0px 1px #F64E60;
}

.colors #two {
    background-color: #3699FF;
}

.colors #two:active {
    box-shadow: 0px 0px 0px 1px #3699FF;
}

.colors #three {
    background-color: #1BC5BD;
}

.colors #three:active {
    box-shadow: 0px 0px 0px 1px #1BC5BD;
}

.colors #four {
    background-color: #8950FC;
}

.colors #four:active {
    box-shadow: 0px 0px 0px 1px #8950FC;
}

.colors #five {
    background-color: #1B283F;
}

.colors #five:active {
    box-shadow: 0px 0px 0px 1px #1B283F;
}

.colors #six {
    background-color: #D6D6E0;
}

.colors #six:active {
    box-shadow: 0px 0px 0px 1px #D6D6E0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 40px;
    margin-top: 20px;
}

.button #reset {
    width: 95px;
    height: 42px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #7743DB;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.button #more {
    width: 95px;
    height: 42px;
    border-radius: 6px;
    border: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #B5B5C3;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 5px;
}

/*Sidebar 2*/
.sidebar2 {
    width: 320px;
    height: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    margin-top: 45px;
}

.sidebar2 h1 {
    font-size: 17px;
    font-weight: 600;
    color: #181C32;
    margin-top: 10px;
}

.sidebar2 h2 {
    font-size: 14px;
    font-weight: 600;
    color: #181C32;
}

.sidebar2 p {
    color: #B5B5C3;
    font-size: 12px;
    font-weight: 400;
}

.dot {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    top: -15px;
    right: 10px;
    gap: 3px;
}

.dot :nth-child(n) {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #B5B5C3;
}

.first {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 15px;
}

.first img {
    width: 80px;
    height: 60px;
    border-radius: 6px;
}

.first #text {
    margin-left: 15px;
    font-weight: 400;
}

.first #text p {
    font-weight: 400;
}

.brand h2 {
    font-weight: 600;
    font-size: 14px;
    color: #181C32;
}

.second {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}

.second button {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7743DB;
    font-size: 12px;
    font-weight: 600;
    background-color: #F8F4FF;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
}

.second #name {
    font-size: 14px;
    font-weight: 600;
    color: #B5B5C3;
}

.second p {
    font-size: 14px;
    font-weight: 600;
    color: #181C32;
}

/*Main*/
.main {
    width: 940px;
    height: 1180px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
}
.main h1{
    color: #848484;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}